
.form {
  width: 100%;
  margin-right: 100px;

  .form__input {
    width: 80%;
    padding: 10px 15px;
    border: 1px solid rgba($color: #ccc, $alpha: 1);
    border-radius: 5px;
    outline: none;
  }

  .form__error {
    width: 50%;
    font-size: 14px;
    color: #fff;
    background-color: rgba(189, 6, 6, .7);
    padding: 10px;
    border-radius: 50px;
    margin-top: 10px;
  }

}
